* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono";
	font-weight: bold;
	font-size: 16px;
	min-height: 0;
}

window#waybar
{
	border-radius: 10px;
	background: #010409;
	color: #cdd6f4;
}



